p{
    color: blue;
    background-color: aqua;
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: 4em
}
h1{
    color: whitesmoke;
    background-color: red;
    font-family: Arial, sans-serif;


}